.container {
  margin-bottom: 1rem;
}

.date {
  text-decoration: underline;
  color: var(--fontColor);
  margin-bottom: 0.5rem;
}

.title {
  margin-bottom: 1rem;
  font-weight: bold;
}

.taglist {
  display: flex;
  margin: 0 0 1rem 0;
  list-style-type: none;
}

.tag {
  font-size: 0.75rem;
  margin-right: 1rem;
  margin-bottom: 0;
  border: 2px solid var(--fontColor);
  padding: 0.4rem;
}
