.block {
  margin-bottom: 1.5rem;
}

.title,
.location,
.date {
  margin-bottom: 0.5rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.location {
  color: grey;
}

.date {
  font-style: italic;
}
