.hr {
  border-top: 2px solid var(--font-color);
}

.ul,
.ol {
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.li {
  margin: 0;
  text-decoration: none;
}

.li > a,
.p > a {
  text-decoration: none;
  color: var(--important-color);
}

.li > a:hover,
.p > a:hover {
  text-decoration: underline;
}

.headers {
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: var(--header-color) !important;
}

.p {
  line-height: 2rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}

.strong {
  color: var(--bold-color);
  font-weight: bold;
}

.container {
  overflow-x: auto;
  margin-bottom: 1.5rem;
}

.table {
  margin: 0;
}

.link {
  color: var(--important-color);
}